.work
    min-height: 504px
    background: url(../../img/work_bg.jpg) center (center / cover) no-repeat
    &__header
        font-weight: 400
        font-size: 30px
        line-height: 37px
        text-transform: uppercase
        color: $secondary-color
